html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

canvas {
  display: block;
}


.bg {
  /* The image used */
  background-image: url("img/bg.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  margin: 0;
  display: flex;

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;
}